<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
     xmlns:bal="http://wixtoolset.org/schemas/v4/wxs/bal">

  <Bundle Name="ServicioRESTEjecucionComandos"
          Version="1.0.0"
          Manufacturer="SAFI"
          UpgradeCode="B2C3D4E5-F6A7-8901-BCDE-F12345678901"
          IconSourceFile="..\wwwroot\favicon.ico"
          DisableModify="yes"
          Compressed="yes">

    <WixVariable Id="WixStdbaLicenseUrl" Value="" />

    <BootstrapperApplication Id="WixStandardBootstrapperApplication">
      <bal:WixStandardBootstrapperApplication LicenseFile="license.rtf" Theme="hyperlinkLicense" />
    </BootstrapperApplication>

    <Variable Name="InstallFolder" Value="C:\Program Files\ServicioRESTEjecucionComandos" />
    <Variable Name="ServicePort" Value="5000" />
    <Variable Name="AuthDbProvider" Value="sqlite" />
    <Variable Name="AuthDbConnectionString" Value="" />
    <Variable Name="ServiceDbProvider" Value="postgres" />
    <Variable Name="ServiceDbConnectionString" Value="" />
    <Variable Name="DataxExePath" Value="" />
    <Variable Name="DailyCodes" Value="" />
    <Variable Name="ExcludedCodes" Value="" />
    <Variable Name="JwtSecretKey" Value="" />
    <Variable Name="JwtAccessTokenMinutes" Value="5" />
    <Variable Name="JwtRefreshTokenDays" Value="30" />
    <Variable Name="LogsPath" Value="" />
    <Variable Name="StartServiceAfterInstall" Value="1" />
    <Variable Name="InstallScheduledTask" Value="0" />
    <Variable Name="SmtpServer" Value="" />
    <Variable Name="SmtpPort" Value="587" />
    <Variable Name="EmailFrom" Value="" />
    <Variable Name="EmailUsername" Value="" />
    <Variable Name="EmailPassword" Value="" />
    <Variable Name="EmailRecipients" Value="" />

    <Chain>
      <MsiPackage SourceFile="$(var.MsiOutputPath)" 
                  Visible="yes" 
                  Vital="yes">
        <MsiProperty Name="INSTALLFOLDER" Value="[InstallFolder]" />
        <MsiProperty Name="ServicePort" Value="[ServicePort]" />
        <MsiProperty Name="AuthDbProvider" Value="[AuthDbProvider]" />
        <MsiProperty Name="AuthDbConnectionString" Value="[AuthDbConnectionString]" />
        <MsiProperty Name="ServiceDbProvider" Value="[ServiceDbProvider]" />
        <MsiProperty Name="ServiceDbConnectionString" Value="[ServiceDbConnectionString]" />
        <MsiProperty Name="DataxExePath" Value="[DataxExePath]" />
        <MsiProperty Name="DailyCodes" Value="[DailyCodes]" />
        <MsiProperty Name="ExcludedCodes" Value="[ExcludedCodes]" />
        <MsiProperty Name="JwtSecretKey" Value="[JwtSecretKey]" />
        <MsiProperty Name="JwtAccessTokenMinutes" Value="[JwtAccessTokenMinutes]" />
        <MsiProperty Name="JwtRefreshTokenDays" Value="[JwtRefreshTokenDays]" />
        <MsiProperty Name="LogsPath" Value="[LogsPath]" /> 
        <MsiProperty Name="StartServiceAfterInstall" Value="[StartServiceAfterInstall]" />
        <MsiProperty Name="InstallScheduledTask" Value="[InstallScheduledTask]" />
        <MsiProperty Name="SmtpServer" Value="[SmtpServer]" />
        <MsiProperty Name="SmtpPort" Value="[SmtpPort]" />
        <MsiProperty Name="EmailFrom" Value="[EmailFrom]" />
        <MsiProperty Name="EmailUsername" Value="[EmailUsername]" />
        <MsiProperty Name="EmailPassword" Value="[EmailPassword]" />
        <MsiProperty Name="EmailRecipients" Value="[EmailRecipients]" />
      </MsiPackage>
    </Chain>

  </Bundle>
</Wix>