<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Fragment>
    <CustomAction
        Id="SetConfigureAppSettingsData"
        Property="ConfigureAppSettingsDeferred"
        Value="INSTALLFOLDER=[INSTALLFOLDER];ServicePort=[ServicePort];AuthDbProvider=[AuthDbProvider];AuthDbConnectionString=[AuthDbConnectionString];ServiceDbProvider=[ServiceDbProvider];ServiceDbConnectionString=[ServiceDbConnectionString];DataxExePath=[DataxExePath];DailyCodes=[DailyCodes];ExcludedCodes=[ExcludedCodes];JwtSecretKey=[JwtSecretKey];JwtAccessTokenMinutes=[JwtAccessTokenMinutes];JwtRefreshTokenDays=[JwtRefreshTokenDays];LogsPath=[LogsPath];SmtpServer=[SmtpServer];SmtpPort=[SmtpPort];EmailFrom=[EmailFrom];EmailUsername=[EmailUsername];EmailPassword=[EmailPassword];EmailRecipients=[EmailRecipients]"
        Execute="immediate" />

    <CustomAction
        Id="ConfigureAppSettingsDeferred"
        Directory="System64Folder"
        Execute="deferred"
        Impersonate="no"
        Return="check"
        ExeCommand="powershell.exe -ExecutionPolicy Bypass -File &quot;[INSTALLFOLDER]Scripts\Configure-AppSettings.ps1&quot;" />


    <CustomAction
        Id="InstallWindowsService"
        Directory="System64Folder"
        Execute="deferred"
        Impersonate="no"
        Return="check"
        ExeCommand="powershell.exe -ExecutionPolicy Bypass -File &quot;[INSTALLFOLDER]Scripts\Install-Service.ps1&quot; &quot;[INSTALLFOLDER]&quot;" />

    <CustomAction Id="StartWindowsService" 
        Directory="System64Folder" 
        Execute="deferred" 
        Impersonate="no" 
        Return="ignore" 
        ExeCommand="powershell.exe -ExecutionPolicy Bypass -Command &quot;Start-Service -Name ServicioRESTEjecucionComandos&quot;" />

    <CustomAction
        Id="UninstallWindowsService"
        Directory="System64Folder"
        Execute="deferred"
        Impersonate="no"
        Return="check"
        ExeCommand="powershell.exe -ExecutionPolicy Bypass -File &quot;[INSTALLFOLDER]Scripts\Uninstall-Service.ps1&quot;" />

    <CustomAction
        Id="InstallScheduledTaskCA"
        Directory="System64Folder"
        Execute="deferred"
        Impersonate="no"
        Return="check"
        ExeCommand="powershell.exe -ExecutionPolicy Bypass -File &quot;[INSTALLFOLDER]Scripts\Install-ScheduledTask.ps1&quot; &quot;[INSTALLFOLDER]&quot;" />

    <CustomAction
        Id="UninstallScheduledTaskCA"
        Directory="System64Folder"
        Execute="deferred"
        Impersonate="no"
        Return="check"
        ExeCommand="powershell.exe -ExecutionPolicy Bypass -File &quot;[INSTALLFOLDER]Scripts\Uninstall-ScheduledTask.ps1&quot;" />
  </Fragment>
</Wix>